{% extends 'base.html' %}

{% block content %}

<div class="artist-list-container container">
    <form action="{% url 'artist:artist-add' %}" method="get">
        <button type="submit" class="btn btn-primary">아티스트 추가</button>
    </form>
    <ul>
        {% for artist in artists %}
        <li>
            <a href="{% url 'artist:artist-detail' artist_pk=artist.pk %}">
                <img src="{% if artist.img_profile %} {{ artist.img_profile.url}} {% endif %}" alt="" class="cover">
                <div class="artist-info">
                    <div class="name">{{ artist.name }}</div>
                    <div>{{ artist.real_name }}</div>
                    <div>{{ artist.nationality }}</div>
                    <div>{{ artist.birth_date }}</div>
                    <div>{{ artist.constellation }}</div>
                    <div>{{ artist.get_blood_type_display }}</div>
                </div>

                {% if request.user.is_authenticated %}
                <form action="{% url 'artist:artist-like-toggle' artist_pk=artist.pk %}" method="POST" style=float:left>
                    {% csrf_token %}
                    {% if request.user in artist.like_users.all %}
                        <button type="submit" class="btn-danger">좋아요 취소</button>
                    {% else %}
                        <button type="submit" class="btn-primary">좋아요</button>
                    {% endif %}
                </form>
                <form action="{% url 'artist:artist-edit' artist_pk=artist.pk %}" method="get" style=float:left>
                    {% csrf_token %}
                    <button type="submit" class="btn-warning">수정하기</button>
                </form>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}