{% extends 'base.html' %}

{% block content %}

<div class="artist-list-container">
    <form action="{% url 'artist:artist-add' %}" method="get">
        <button type="submit">아티스트 추가</button>
    </form>
    <ul>
        {% for artist in artists %}
        <li>
            <a href="">
                <img src="{% if artist.img_profile %} {{ artist.img_profile.url}} {% endif %}" alt="" class="cover">
                <div class="artist-info">
                    <div class="name">{{ artist.name }}</div>
                    <div>{{ artist.real_name }}</div>
                    <div>{{ artist.nationality }}</div>
                    <div>{{ artist.birth_date }}</div>
                    <div>{{ artist.constellation }}</div>
                    <div>{{ artist.get_blood_type_display }}</div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}