{% extends 'base.html' %}

{% block content %}
<div class="artist-list-container container">
    <form action="{% url 'album:album-add' %}" method="get" class="form-inline justify-content-center">
        <button type="submit" class="btn btn-primary">앨범 추가</button>
    </form>
    <ul>
        <li>
            <a href="{% url 'album:album-detail' album_pk=album.pk %}">
                <img src="{% if album.img_cover %} {{ album.img_cover.url}} {% endif %}" alt="" class="cover">
                <div class="artist-info">
                    <div class="name">{{ album.title|truncatechars:15 }}</div>
                    <div>{{ album.release_date }}</div>
                    <div>{% for artist in album.artists_set.all %}{{ artist.name }}{% endfor %}</div>
                </div>

                {% if request.user.is_authenticated %}
                <form action="{% url 'album:album-like-toggle' album_pk=album.pk %}" method="POST" style="float:left">
                    {% csrf_token %}
                    <input type="hidden" name="next-path" value={{ request.get_full_path }}>
                    {% if request.user in album.like_users.all %}
                        <button type="submit" class="btn-danger">좋아요 취소</button>
                    {% else %}
                        <button type="submit" class="btn-primary">좋아요</button>
                    {% endif %}
                </form>
                <form action="{% url 'album:album-edit' album_pk=album.pk %}" method="get" style=float:left>
                    {% csrf_token %}
                    <button type="submit" class="btn-warning">수정하기</button>
                </form>
                {% endif %}
            </a>
        </li>
    </ul>
</div>
{% endblock %}