{% extends 'base.html' %}

{% block content %}
<div class="artist-list-container container">
    <form action="{% url 'song:song-add' %}" method="get">
        <button type="submit" class="btn btn-primary">노래 추가</button>
    </form>
    <ul>
        <li>
            <a href="">
                <img src="{% if song.img_profile %} {{ song.img_profile.url}} {% endif %}" alt="" class="cover">
                <div class="artist-info">
                    <div class="name">{{ song.title }}</div>
                    <div>{{ song.album.title }}</div>
                    <div>{{ song.genre }}</div>
                    <div>{{ song.formatted_release_date }}</div>
                    <div>{% for artist in song.artists.all %}{{ artist.name }}{% endfor %}</div>
                </div>

                {% if request.user.is_authenticated %}
                <form action="{% url 'song:song-like-toggle' song_pk=song.pk %}" method="POST" style="float:left">
                    {% csrf_token %}
                    <input type="hidden" name="next-path" value={{ request.get_full_path }}>
                    {% if request.user in song.like_users.all %}
                        <button type="submit" class="btn-danger">좋아요 취소</button>
                    {% else %}
                        <button type="submit" class="btn-primary">좋아요</button>
                    {% endif %}
                </form>
                <form action="{% url 'song:song-edit' song_pk=song.pk %}" method="get" style=float:left>
                    {% csrf_token %}
                    <button type="submit" class="btn-warning">수정하기</button>
                </form>
                {% endif %}
            </a>
        </li>
    </ul>
</div>
{% endblock %}