{% extends 'base.html' %}

{% block content %}

<div>
    <h1><a href="{% url 'song:song-search' %}">노래 검색</a></h1>
    <form action="" method="GET">
        <div class="form-group">
            <input id="" type="text" name="keyword" class="" placeholder="" value="{{ request.GET.keyword }}">
            <button type="submit" class="btn">검색</button>
        </div>
    </form>

    {% for song_info in song_infos %}
        {% include 'include/song_search_result.html' with type=song_info.type songs=song_info.songs only %}
    {% endfor %}
</div>

{% endblock %}